@{
    ViewData["Title"] = "Forgot Password or Email";
    Layout = "_LayoutNoLogoutBtn";
}

<div>
    <h1>Forgot Password or Email</h1>
    <p>If you have forgotten your password or email, please contact the site administrator at miles@portland-fuel.co.uk</p>
    <form>
        <a method="post" asp-action="Login">Return</a>
    </form>
</div>
