
@{
    ViewData["Title"] = "Documentation";
#pragma warning disable CS8605 // Dereference of a possibly null reference.
    if ((bool)ViewData["isAuthenticated"] == true) {
        Layout = "_Layout";
    }
    else {
        Layout = "_LayoutNoLogoutBtn";
    }
}

<h1 class="pb-3"><i class="fa-solid fa-code"></i> Documentation</h1>

<div class="py-2">
    <span>
        <strong>Web Framework:</strong> ASP.NET
    </span>
</div>
<div class ="py-2">
    <span>
        <strong>Backend Language:</strong> C#
    </span>
</div>
<div class="py-2">
    <span>
        <strong>Frontend Framework:</strong> Bootstrap 5.0
    </span>
</div>
<div class="py-2">
    <span>
        <strong>Database:</strong> MongoDB
    </span>
</div>

<div class="py-2 pt-4">
    <h3 class="pb-2">About</h3>
    <p>
        This is a very basic 'to do' web app, where users can create a list of things that they need to complete. Users can then access this list on any device that runs an internet browser,
         simply by logging into your account on the device of your choosing. 
    </p>
</div>

<div class="py-2 pt-4">
    <h3 class="pb-2">Why does this site exist?</h3>
    <p>
        This site was created as a way to learn the the MVC (model, view, controller) design pattern and the ASP.NET web framework.
    </p>
    <p>
        Additionally, this site uses MongoDB to perform CRUD operations, so further serves as a way to learn how to perform such operations with C# and implement it into a web application. 
    </p>
</div>

<div class="py-2 pt-4">
    <h3 class="pb-2">Want to see how it works?</h3>
    <p>
        The <a style="text-decoration: none;" href="https://github.com/pizzapirate/SimpleToDoApp_AspNet">GitHub</a> repository for this project is publically available if you would like to see the source code for the web app.
    </p>
</div>