@model IEnumerable<ToDoModel>
@{
    ViewData["Title"] = "Home";
}

<section class="vh-100";">
    <div class="container py-5 h-70">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">

                <div class="card" style="border-radius: 15px;">
                    <div class="card-body p-5">
                        @{
                            if (ViewData["Name"] == null) {
                                <h6 class="mb-3">For some reason you do not have a name. Here is your list of things todo.</h6>
                            }
                            else {
                                <h6 class="mb-3">Hello @ViewData["Name"],</h6>
                            }

                        }
                        <form asp-action="AddNewToDo" method="post" class="d-flex justify-content-center align-items-center mb-4">
                            <div class="form-outline flex-fill">
                                <div class="d-flex" justify-content-center>
                                    <input type="text" id="addNewTaskInput" class="form-control form-control-lg" name="addNewTaskInput" />
                                    <button type="submit" class="btn btn-dark btn-lg ms-2">Add</button>
                                </div>

                                <label class="form-label" for="form3">What do you need to do today?</label>
                            </div>
                        </form>



                        @{

                            foreach (var item in Model) {

                                <form method="post" asp-action="DeleteToDo" asp-route-Id="@item.Id">
                                    <ul class="list-group mb-0">
                                        <li class="list-group-item d-flex justify-content-between align-items-center border-start-0 border-top-0 border-end-0 border-bottom rounded-0 mb-2">
                                            <div class="d-flex align-items-center">
                                                @Html.DisplayFor(modelItem => item.ToDoTask)
                                            </div>
                                            <button type="submit" class="btn btn-outline-primary btn-sm ms-2">Delete</button>
                                        </li>
                                    </ul>
                                </form>
    
                            }

                         }

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
