@{
    ViewData["Title"] = "Privacy";
#pragma warning disable CS8605 // Dereference of a possibly null reference.
    if ((bool)ViewData["isAuthenticated"] == true)
    {
        Layout = "_Layout";
    }
    else
    {
        Layout = "_LayoutNoLogoutBtn";
    }
}

<div>
    <h1>Privacy</h1>
    <p>Your data will not be shared with anyone.</p>

    <h1>Security</h1>
    <p>Your password is stored using a hash and 1000 iterations therefore it is safely secured in the database.</p>

    <h1>Cookies</h1>
    <p>This site uses cookies to store your data and we are legally obliged to disclose this and by using this site you are agreeing to this. There is no way to disagree.</p>
    <P>The only data stored in cookies is your first name and your email address, both of which you provided the site with.</P>
</div>